﻿
@{
    ViewBag.Title = "Agario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agario</h2>
<style>
    .agar {
        width: 100px;
        height: 100px;
        border: 4px solid blue;
        border-radius: 100%;
        position: relative;
        left: 0;
        top: 0;

    }
        .agar div {
            float: initial;
            margin-top: 40%;
            text-align: center;
        }
</style>


<div id="agar_player1" class="agar"><div>player1</div></div>


@section scripts{
    @Scripts.Render("~/bundles/games/agario")   
}
