﻿@using FormularioCandidatoGuatefuturo.Models
@model IEnumerable<FormularioCandidatoGuatefuturo.Models.Pregunta>


@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.noPregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (Pregunta item in ViewBag.Preguntas) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.noPregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPregunta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPregunta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPregunta })
        </td>
    </tr>
}

</table>
