﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
@@charset "UTF-8";
@@import url(font-awesome.min.css);
@@import url(http://fonts.googleapis.com/css?family=Raleway:700,400); 


		h2, label, button, h4 { font-family: "Raleway", Helvetica, sans-serif;  
		                                
			
		}
		
 .cmn-toggle {
    position: absolute;
    margin-left: 50%;
    visibility: hidden;
	width: 80px; 
	height: 40px;
	
  }
  .cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  input.cmn-toggle-round + label {
    padding: 2px;
    width: 100px;
    height: 42px;
    background-color: #dddddd;
    border-radius: 40px; 
	padding-bottom: 5px;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #FA5858;
    border-radius: 60px;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: 40px; 
	height: 40px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;|
	background-color:;
  }
	
	

</style>
<h2>Documentos</h2>
<div class="col-md-7" style="border: 1px dashed green; height: 500px; position:relative;">
    <embed id="preview" src="http://rescate-estudiantil.com/wp-content/uploads/2010/05/RESUMEN_DE_LA_PATRIA_DEL_CRIOLLO.pdf" width="650" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
</div>
<div class="col-md-5" style="overflow-y: scroll; height:500px;">
    @{
        int idToogle = 0;
    }
    @foreach (String document in ViewBag.Documents)
    {
        idToogle++;
        
            <div style="display:block" class="panel panel-success">
                <div class="panel-heading"><h4>@document</h4></div>
                <div class="panel-body">
                    <div style=" display: inline-block;">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="primary">¿Es Legítimo?</button>
                            <input type="checkbox" class="hidden" />
                        </span>
                    </div>
                    <div style="display: inline-block; float:right">
                        <input onclick="showPreview(this)" data-status="0" id="cmn-toggle_@idToogle" class="cmn-toggle cmn-toggle-round" type="checkbox" />
                        <label for="cmn-toggle_@idToogle"></label>
                        <p for="cmn-toggle-1">Preview</p>
                    </div>
                </div>
            </div>
    }

</div>
@section scripts{
    @Scripts.Render("~/bundles/documentos")
}