﻿@using FormularioCandidatoGuatefuturo.Models
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Respuestas Encuesta</h2>
<table class="table">
    <tr>
        <th>
            IDPregunta
        </th>
        <th>
           IDRespuesta
        </th>
        <th>
            Notas
        </th>
        <th>
            @ViewBag.Respuestas
        </th>
    </tr>

    

</table>