﻿@using FormularioCandidatoGuatefuturo.Models

@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}


<style>


body {padding-top:50px;}

.box {
    
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: center;
    display: block;
    margin-top: 75px;
}
.box-icon {
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.bloque{
    display: inline-block;
    margin: 1em;
}
</style>

<div class="box">
    <div class="box-icon">
        <img src="http://www.gschiavo.com/wp-content/uploads/2011/08/ebook_circle.png" height="120px">
    </div>
    <div class="info">
        <h4 class="text-center">Perfil candidato Guatefuturo</h4>
        <p><b>Instrucciones:</b> por favor responda la siguiente información que servirá para complementar nuestra información estadística del proceso de aplicación (seleccione una opción en cada pregunta). La misma no afectará ni será incluida dentro del proceso de selección. Será manejada con confidencialidad. </p>
    </div>
</div>
<hr />
<section ng-app="encuesta" ng-controller="TabController as tab">
    <form action="Crear" id="form">
        <input type="hidden" value="1" name="currentUser" />
        @{int cont = 0, tabs = 1, questionCount = 0;
        String questionID;
        }

        @foreach (Pregunta pregunta in ViewBag.Preguntas)
        {
            cont++;
            questionCount++;
            questionID = "question" + Convert.ToString(questionCount);
            if (cont == 1)
            {

                <div class="content" ng-show="tab.isSet(@tabs)" id="page_@tabs"></div>
                tabs++;
            }

            <ul style="list-style:none" class="question" id="@questionID">
                <div class="panel panel-primary">

                    <div class="panel-heading">@pregunta.noPregunta ) @pregunta.descripcion </div>
                    <div class="panel-body">
                        @{bool opF = false;
                        int inputCount = 0;
                        String inputId = "";
                        int idOpcion = 0;
                        }
                        @foreach (Opcion op in pregunta.Opcion)
                        {
                            inputCount++;
                            inputId = "input" + questionCount + "-" + inputCount;
                            switch (op.tipo)
                            {
                                case 1:
                                    <li>
                                        <input type="radio" class="opcion" name="@pregunta.idPregunta" value="@op.idOpcion" id="@inputId" data-question="@pregunta.idPregunta" data-opcion="@op.idOpcion" required />@op.descripcion
                                    </li>
                                    break;
                                case 2:
                                    <li><input type="checkbox" class="opcion" name="@pregunta.idPregunta" value="@op.idOpcion" id="@inputId" data-question="@pregunta.idPregunta" data-opcion="@op.idOpcion" /> @op.descripcion</li>
                                    break;
                                case 4:
                                    opF = true;
                                    idOpcion = op.idOpcion;
                                    break;
                            }
                        }
                        @if (opF)
                        {
                            String spanID = "text" + pregunta.idPregunta + "-6";
                           <li><span  id="@spanID">especifique: </span></li><li><input type="text" class="opcion form-control input-sm"  name="@pregunta.idPregunta" id="@inputId" data-question="@pregunta.idPregunta" data-opcion="@idOpcion"  maxlength="150" style="display:inline-block"/></li>
                        }
                    </div>
                </div>

            </ul>


                        if (cont == 5)
                        {
                            cont = 0;
                        }
        }


    </form>
    <div hidden id="alertDiv"><label class="label label-danger">Conteste las preguntas</label></div>
    <nav>
        <ul class="pagination">
            <li>
                <a hfref="#" ng-click="tab.goPrevious()" aria-label="Previous" onclick="$('#next').css('display', 'inline-block')">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i < tabs - 1; i++)
            {
                if (i == tabs - 2)
                {
                    <li><a href="#" ng-click="tab.setTab(@i)" onclick="$('#next').css('display', 'none')">@i</a></li>
                }
                else
                {
                    <li><a href="#" ng-click="tab.setTab(@i)" onclick="$('#next').css('display', 'inline-block')">@i</a></li>
                }

            }

            <li>
                <a id="next" href="#" ng-click="tab.goNext()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <button class="btn btn-primary" ng-click="tab.goNext()">Siguiente</button>
</section>