﻿@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>

<style>
    .page-header img, h1 {
        font-size: 38px;
        color: #6D6E71;
        text-align: center;
        display: inline-block;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .vBox {
        display: inline-table;
        width: 13%;
    }

    .vbox-header {
        text-align: center;
        font-family: inherit;
        background-color: #357EBD;
        color: #ffffff;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 14px;
        padding: 6px 12px;
    }


    .item-danger {
        background-color: #d9534f;
        color: #ffffff;
    }

        .item-danger:hover {
            background-color: #d43f3a;
        }

    .item-success {
        background-color: #5cb85c;
        color: #ffffff;
    }

        .item-success:hover {
            background-color: #4cae4c;
        }

    .item-warning {
        background-color: #ed9c28;
        color: #ffffff;
    }

        .item-warning:hover {
            background-color: #d58512;
        }

    .item-info {
        background-color: #39b3d7;
        color: #ffffff;
    }

        .item-info:hover {
            background-color: #269abc;
        }

    .item-skyblue {
        background-color: #7BD5D8;
        color: #ffffff;
    }

        .item-skyblue:hover {
            background-color: #3AD3D8;
        }

    .item-grey {
        background-color: #ABABAB;
        color: #ffffff;
    }

        .item-grey:hover {
            background-color: #858585;
        }

    .item-green {
        background-color: #65CA0A;
        color: #ffffff;
    }

        .item-green:hover {
            background-color: #0AC05D;
        }

    .item-pink {
        background-color: #D597D6;
        color: #ffffff;
    }

        .item-pink:hover {
            background-color: #A091D6;
        }

    .item {
        margin-top: 5px;
        color: #ffffff;
        text-align: center;
        width: 155px;
        height: auto;
        border-radius: 5px;
    }

    .slide-options {
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        width: 153px;
        height: 109px;
        border-radius: 5px;
        opacity: 0;
    }

    .tool {
        cursor: pointer;
    }

    @@keyframes ocultarAlert {
        from {
            visibility: visible;
        }

        to {
            visibility: hidden;
        }
    }

    @@keyframes degradado {
        from {
            width: 0px;
            height: 0px;
        }

        to {
            width: 153px;
            height: 100px;
        }
    }

    @@keyframes gradado {
        from {
            width: 160px;
            height: 105px;
        }

        to {
            width: 0px;
            height: 0px;
        }
    }
</style>

<div class="row page-header">
    <center>
        <img src="http://icons.iconarchive.com/icons/martz90/circle/512/calendar-icon.png" style=" width: 3em; height: 3em;" />
        <h1>Horario</h1>
    </center>
</div>

    <div class=" vBox" id="Lunes">
    <div class="vbox-header">
        LUNES
    </div>


    <div>
        <center>
            <button id="btnLunes" type="button" onclick="openModal('Lunes')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>

</div>
<div class="vBox" id="Martes">
    <div class="vbox-header">
        MARTES
    </div>
    <div>
        <center>
            <button id="btnMartes" type="button" onclick="openModal('Martes')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>
<div class="vBox" id="Miercoles">
    <div class="vbox-header">
        MIERCOLES
    </div>
    <div>
        <center>
            <button id="btnMiercoles" type="button" onclick="openModal('Miercoles')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>
<div class="vBox" id="Jueves">
    <div class="vbox-header">
        JUEVES
    </div>
    <div>
        <center>
            <button id="btnJueves" type="button" onclick="openModal('Jueves')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>
<div class="vBox" id="Viernes">
    <div class="vbox-header">
        VIERNES
    </div>
    <div>
        <center>
            <button id="btnViernes" type="button" onclick="openModal('Viernes')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>
<div class="vBox" id="Sabado">
    <div class="vbox-header">
        SABADO
    </div>
    <div>
        <center>
            <button id="btnSabado" type="button" onclick="openModal('Sabado')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>
<div class="vBox" id="Domingo">
    <div class="vbox-header">
        DOMINGO
    </div>
    <div>
        <!-- Trigger the modal with a button -->
        <center>
            <button id="btnDomingo" type="button" onclick="openModal('Domingo')" class="btn btn-success btn-circle btn-lg" style="margin-top:5px"><i class="glyphicon glyphicon-plus"></i></button>
        </center>
    </div>
</div>


<div class="alert alert-info col-lg-1" style="float:right" id="totalHoras"></div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title alert alert-info" style="margin:13px; text-align:center"></h4>
            </div>

            <form id="modal-form" action="agregarEvento" style="margin-left: 25px;">
                <div class="modal-body " ng-app="ui.bootstrap.modal">

                    <div class="form-group">
                        <label for="descripcion">Titulo:</label>
                        <input type="text" onkeydown="validarNomenclatura(this.id,event)" class="form-control" id="titulo" required>

                    </div>
                    <div class="form-group">
                        <div style="display: inline-block;">
                            <label for=" sel1">
                                Color
                            </label>
                        </div><br />
                        <div class="dropdown" style="display: inline-block; align-content:center">
                            <button class=" btn btn-success dropdown-toggle" type="button" id="colorMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Color
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><span class="btn btn-success" id="btnVerde" onclick="cambiarColor('btn btn-success')" style="width: 160px; margin: 5px"></span></li>
                                <li><span class="btn btn-warning" id="btnNaranja" onclick="cambiarColor('btn btn-warning')" style="width: 160px ;margin: 5px"></span></li>
                                <li><span class="btn btn-danger" id="btnRojo" onclick="cambiarColor('btn btn-danger')" style="width: 160px; margin: 5px"></span></li>
                                <li><span class="btn item-green" id="btnGreen" onclick="cambiarColor('btn item-green')" style="width: 160px; margin: 5px"></span></li>
                                <li><span class="btn item-skyblue" id="btnSkyblue" onclick="cambiarColor('btn item-skyblue')" style="width: 160px; margin: 5px"></span></li>
                                <li><span class="btn item-grey" id="btnGrey" onclick="cambiarColor('btn item-grey')" style="width: 160px; margin: 5px"></span></li>
                                <li><span class="btn item-pink" id="btnPink" onclick="cambiarColor('btn item-pink')" style="width: 160px; margin: 5px"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="horas">Horas: </label>
                        <input type="number" name="horas" class="form-control" id="horas" onkeyup="keyUp_inputHoras(this)" required />
                        <label class="label label-danger" id="alerta" style="display: none"></label>
                    </div>
                    <div class="form-group">
                        <label for="notas">Notas: </label>
                        <textarea name="notas" class="form-control" style="resize: none" required id="notas" maxlength="300"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Aceptar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div>
<center>
    <br/>
    <button class="btn btn-info" onclick="Save()">Guardar</button>
</center>


   
    @section scripts{
        @Scripts.Render("~/bundles/horario")
    }


